.full-width {
  width: 100%;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 12px;
}

mat-form-field {
  display: block;
}
.cdk-overlay-container {
  z-index: 2000 !important; 
}
mat-datepicker-content {
  z-index: 3000 !important;
}
.my-popup {
  overflow: visible !important;
  transform: none !important;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 999999 !important;
}
